UBeatCrmSlu/.vs/
UBeatCrmSlu/UBeat.Crm.CoreApi/wwwroot/
UBeatCrmSlu/UBeat.Crm.CoreApi/logs/
UBeatCrmSlu/UBeat.Crm.CoreApi.Core/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Core/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.DomainModel/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.DomainModel/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.IRepository/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.IRepository/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.Repository/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Repository/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.Services/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Services/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi/obj/
UBeatCrmSlu/UBeat.Crm.MailService/obj/
UBeatCrmSlu/UBeat.Crm.MailService/bin/
UBeatCrmSlu/UBeat.Crm.LicenseCore/obj/
UBeatCrmSlu/UBeat.Crm.LicenseCore/bin/
UBeatCrmSlu/Ubeat.Crm.EncryptLicense/obj/
UBeatCrmSlu/Ubeat.Crm.EncryptLicense/bin/


/UBeatCrmSlu/BlueSail/obj
UBeatCrmSlu/UBeat.Crm.CoreApi.Renqian/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Renqian/obj/project.assets.json
UBeatCrmSlu/UBeat.Crm.CoreApi.Renqian/obj/
/UBeatCrmSlu/BlueSail/bin
UBeatCrmSlu/UBeat.Crm.CoreApi/entityjson/
UBeatCrmSlu/UBeat.Crm.CoreApi/reportexports/
UBeatCrmSlu/UBeat.Crm.CoreApi/Thumbnail/
UBeatCrmSlu/UBeat.Crm.CoreApi/serverfinger.json
/UBeatCrmSlu/UBeat.Crm.CoreApi/UBeat.Crm.CoreApi.csproj.user
