UBeatCrmSlu/.vs/
UBeatCrmSlu/UBeat.Crm.CoreApi/wwwroot/
UBeatCrmSlu/UBeat.Crm.CoreApi/logs/
UBeatCrmSlu/UBeat.Crm.CoreApi.Core/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Core/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.DomainModel/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.DomainModel/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.IRepository/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.IRepository/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.Repository/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Repository/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.Services/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Services/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi/obj/
UBeatCrmSlu/UBeat.Crm.MailService/obj/
UBeatCrmSlu/UBeat.Crm.MailService/bin/
UBeatCrmSlu/UBeat.Crm.LicenseCore/obj/
UBeatCrmSlu/UBeat.Crm.LicenseCore/bin/
UBeatCrmSlu/Ubeat.Crm.EncryptLicense/obj/
UBeatCrmSlu/Ubeat.Crm.EncryptLicense/bin/


/UBeatCrmSlu/BlueSail/obj
UBeatCrmSlu/UBeat.Crm.CoreApi.Renqian/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi.Renqian/obj/project.assets.json
UBeatCrmSlu/UBeat.Crm.CoreApi.Renqian/obj/
/UBeatCrmSlu/BlueSail/bin
UBeatCrmSlu/UBeat.Crm.CoreApi/entityjson/
UBeatCrmSlu/UBeat.Crm.CoreApi/reportexports/
UBeatCrmSlu/UBeat.Crm.CoreApi/Thumbnail/
UBeatCrmSlu/UBeat.Crm.CoreApi/serverfinger.json
/UBeatCrmSlu/UBeat.Crm.CoreApi/UBeat.Crm.CoreApi.csproj.user
UBeatCrmSlu/UBeat.Crm.CoreApi.Controller/obj/
UBeatCrmSlu/UBeat.Crm.CoreApi.Controller/bin/
UBeatCrmSlu/UBeat.Crm.CoreApi/workflowcopyusers.json
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Debug
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Debug
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Controller.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Controller.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Core.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Core.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.deps.json
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.DomainModel.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.DomainModel.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.IRepository.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.IRepository.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Repository.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Repository.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Services.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Services.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.LicenseCore.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.LicenseCore.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.MailService.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/bin/Release/netcoreapp2.0/UBeat.Crm.MailService.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.AssemblyInfo.cs
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.AssemblyInfoInputs.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.csproj.CopyComplete
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.csproj.CoreCompileInputs.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.csproj.FileListAbsolute.txt
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.csprojAssemblyReference.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.dll
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/Release/netcoreapp2.0/UBeat.Crm.CoreApi.Desktop.pdb
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/UBeat.Crm.CoreApi.Desktop.csproj.nuget.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/UBeat.Crm.CoreApi.Desktop.csproj.nuget.g.props
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/UBeat.Crm.CoreApi.Desktop.csproj.nuget.g.targets
UBeatCrmSlu/UBeat.Crm.CoreApi.Desktop/obj/project.assets.json
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/Debug/netcoreapp2.0/UBeat.Crm.CoreApi.DingTalk.AssemblyInfo.cs
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/Debug/netcoreapp2.0/UBeat.Crm.CoreApi.DingTalk.AssemblyInfoInputs.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/Debug/netcoreapp2.0/UBeat.Crm.CoreApi.DingTalk.csproj.CoreCompileInputs.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/Debug/netcoreapp2.0/UBeat.Crm.CoreApi.DingTalk.csprojAssemblyReference.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/UBeat.Crm.CoreApi.DingTalk.csproj.nuget.cache
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/UBeat.Crm.CoreApi.DingTalk.csproj.nuget.g.props
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/UBeat.Crm.CoreApi.DingTalk.csproj.nuget.g.targets
UBeatCrmSlu/UBeat.Crm.CoreApi.DingTalk/obj/project.assets.json
