<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!--Variable For The File Path Config-->
  <variable name="LogHome" value="logs"/>
  <variable name="DailyDir" value="${LogHome}/${date:format=yyyy-MM-dd}"/>
  <variable name="HourlyArchive" value="${DailyDir}/${date:format=HH}-Archive/{#######}-archived.log"/>
  <variable name="AppLogPath" value="${DailyDir}/${shortdate}.log"/>
  <variable name="GlobalErrorsLogPath" value="${DailyDir}/globalErrors_${shortdate}.log"/>

  <!--Base Layout And Encoding-->
  <variable name="EventEncoding" value="utf-8" />
  <variable name="EventLayout" value="${longdate}|${event-properties:item=EventId.Id}|${logger}|action: ${aspnet-mvc-action} ${newline}url: ${aspnet-request-url:IncludePort=true:IncludeQueryString=true}  ${aspnet-request-method}  ${newline}processtime:${processtime} ${newline}level: ${uppercase:${level}} ${newline}message: ${message} ${exception}${newline}" />

  <!--Log Targets-->
  <targets>

    <!--CONSOLE LOG-->
    <target xsi:type="Console"
         name="CONSOLE"
         layout="${EventLayout}" />

    <!--File LOG。-->
    <target name="FILELOG" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper" retryDelayMilliseconds="1500" retryCount="10">
        <target xsi:type="File"
                fileName="${AppLogPath}"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="1048576"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="50"
                concurrentWrites="true"
                keepFileOpen="false"
                archiveFileName="${HourlyArchive}"
                layout="${EventLayout}"
                encoding="${EventEncoding}" />
      </target>
    </target>
    <!--File LOG-->
    <target name="ERRORSFILELOG" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper" retryDelayMilliseconds="1500" retryCount="10">
        <target xsi:type="File"
                fileName="${GlobalErrorsLogPath}"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                archiveAboveSize="1048576"
                archiveDateFormat="yyyyMMdd"
                maxArchiveFiles="50"
                concurrentWrites="true"
                keepFileOpen="false"
                archiveFileName="${HourlyArchive}"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger} ${newline}url: ${aspnet-request-url:IncludePort=true:IncludeQueryString=true}  ${aspnet-request-method}  ${newline}processtime:${processtime} ${newline}level: ${uppercase:${level}} ${newline}message: ${message} ${exception}${newline}"
                encoding="${EventEncoding}" />
      </target>
    </target>

    <!-- database target -->
    <wrapper-target xsi:type="BufferingWrapper" bufferSize="100" name="OPERATEBUFFER" slidingTimeout="true" flushTimeout="60000">
      <target
        xsi:type="Database"
        dbProvider="Npgsql.NpgsqlConnection,Npgsql,Version=3.2.1.00,Culture=neutral,PublicKeyToken=5d8b90d52f46fda7"
        connectionString="server=127.0.0.1;port=5432;user id=postgres; password=@nextcrm123; database=xw_dl_10888008; pooling=false; minpoolsize=0; maxpoolsize=200;"
        commandText="SELECT crm_func_operatelog_insert(@device, @url, @sysmark, @vernum, @logmsg, @logdata, @reccreator, @reccreated);">
        <parameter name="@device" layout="${event-properties:item=device}" />
        <parameter name="@url" layout="${event-properties:item=url}" />
        <parameter name="@sysmark" layout="${event-properties:item=sysmark}" />
        <parameter name="@vernum" layout="${event-properties:item=vernum}" />
        <parameter name="@logmsg" layout="${message}" />
        <parameter name="@logdata" layout="${event-properties:item=logdata}" />
        <parameter name="@reccreator" layout="${event-properties:item=reccreator}" />
        <parameter name="@reccreated" layout="${event-properties:item=reccreated}" />
      </target>
    </wrapper-target>

    <!--Empty Log For None Used Log-->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!--Log Rules-->
  <rules>
    <!--只记录GlobalErrors捕获的异常信息-->
    <logger name="GlobalErrors" minlevel="Error" writeTo="ERRORSFILELOG" final="true" />
    <!-- Skip Microsoft logs and so log only own logs -->
    <logger name="Microsoft.*" minLevel="Info" writeTo="CONSOLE" final="true" />
    <!-- Skip System logs and so log only own logs -->
    <logger name="System.*" minLevel="Info" writeTo="CONSOLE" final="true" />
    <!-- database logger -->
    <logger name="SysOperateLog" minlevel="Info" writeTo="OPERATEBUFFER" final="true" />
    <!-- Application Debug log -->
    <!--只记录命名空间由UBeat.开头的项目的异常信息-->
    <logger name="UBeat.*" minlevel="Trace" writeTo="CONSOLE,FILELOG" />
    <logger name="*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>